.user-component {
    display: flex;
    justify-content: space-between;
}


.user-component__column {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

#user-component--friend--title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
  font-size: 18px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}


.user-component__time {
  margin-bottom: 10px;
  display: block;
}


.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 28px;
}

.user-component__text {
    margin-left: 20px;
    
}

.user-component__text--tiny {
    display: flex;
    align-items: center;
}

.user-component__title {
    font-weight: 600;
    font-size: 18px;
}

.user-component__avatar__avatar--sm {
    height: 60px;
    width: 60px;
    border-radius: 25px;
}

.user-component__title--normal {
    font-weight: 400;
}

.user-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0,0, 0, 0.3);
    padding-top: 15px;
}

.user-screen__channel--header {
    margin-bottom: 30px;
}

.user-component__subtitle {
    color: rgba(0,0, 0, 0.5);
}



.user-component--friend {
    display: flex;
}

.user-component__column--friend {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

.user-screen__channel--header--text{
    color: rgba(0, 0, 0, 0.5);
}

.user-component__text--friend{
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

.user-component__title--normal {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}


